<div class="bg-white border border-gray-200 accordion-item">
    <h2 class="mb-0 accordion-header" id="headingOne">
        <button
            class="relative flex items-center w-full px-5 py-4 text-base text-left text-gray-800 transition bg-white border-0 rounded-none accordion-button focus:outline-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse{{id}}"
            aria-expanded="true"
            aria-controls="collapseOne"
        >
            {{name}}
        </button>
    </h2>
    <div
        id="collapse{{id}}"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
    >
        <div class="px-5 py-4 accordion-body">
            {{description}}
        </div>
        <button
            type="button"
            class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
        >
            <a href="/collections/{{id}}">
                View
            </a>
        </button>
    </div>
</div>