<div
    class="fixed top-0 left-0 hidden w-full h-full overflow-x-hidden overflow-y-auto outline-none md:inset-0 h-modal modal fade"
    id="image{{id}}"
    tabindex="-1"
    aria-modal="true"
    role="dialog"
>
    <div
        class="relative flex justify-center pointer-events-none md:max-w-4xl modal-dialog modal-dialog-centered"
    >
        <div
            class="relative flex flex-col text-current bg-white border-none rounded-md shadow-lg outline-none pointer-events-auto modal-content bg-clip-padding"
        >
            <div
                class="flex items-center justify-between flex-grow-0 flex-shrink-0 p-4 border-b border-gray-200 modal-header rounded-t-md"
            >
                <h5 class="text-xl font-bold leading-normal text-gray-800">
                    {{name}}
                </h5>
                <button
                    type="button"
                    class="box-content self-start w-4 h-4 p-1 text-black border-none rounded-none opacity-50 justify-self-end btn-close focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ><i class="fa-solid fa-x"></i></button>
            </div>
            <div class="relative flex justify-center p-4 modal-body">
                {{#if images}}
                    {{#each images as |image|}}
                        <img
                            class="object-scale-down rounded-t-lg"
                            src="{{link}}"
                            alt="{{description}}"
                        />
                    {{/each}}
                {{/if}}
            </div>
            <div
                class="flex flex-wrap items-center flex-shrink-0 p-4 border-t border-gray-200 modal-footer rounded-b-md"
            >
                <p class="mb-3 font-normal text-gray-600">{{description}}</p>
            </div>
        </div>
    </div>
</div>