{{!-- user dashboard, only seen when logged in
        page should have all collections on the page
            list? cards?
        do we want to have the option to delete a collection directly from this page?
        or do we want it limited to the collections page
        
        page needs a either a form, or a button/link that brings up the form for new collection creation
        button could launch a modal with the form contained, would be activated with client-side js
        could also be hidden on page, and button makes form visible
        could also make the form its own page
        
        this page would also be the place to update user information: email and password
        again, this could be handled on page, or via link to new page--}}

        <h1>Hello World</h1>

        {{#each collectionData}}
            <div class="accordion-item bg-white border border-gray-200">
            <h2 class="accordion-header mb-0" id="headingOne">
                <button class="
                accordion-button
                relative
                flex
                items-center
                w-full
                py-4
                px-5
                text-base text-gray-800 text-left
                bg-white
                border-0
                rounded-none
                transition
                focus:outline-none
                " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne" href="/{{userName}}/collections/{{id}}"
                </button>
                {{name}}
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body py-4 px-5">
                {{description}}
                </div>
            </div>
        </div>
        {{/each}}

        <script>console.log('{{userName}}')</script>
