<title>ManyFest - Home</title>
{{#unless loggedIn }}
<!-- Jumbotron -->
<div class="p-6 text-gray-700 bg-gray-100 rounded-lg shadow-lg sm-columns-3">
  <h2 class="mb-5 text-3xl font-semibold">Welcome to ManyFest</h2>
  <hr class="my-4 border-gray-300 sm-hidden" />
  <p>
    Organizing a world of lists into a single application. Feel free to browse the latest additions and login/signup to start your own.
  </p>
</div>
<!-- Jumbotron -->
{{/unless}}
{{#if loggedIn}}
<div class="p-6 text-gray-700 bg-gray-100 rounded-lg shadow-lg sm-columns-3">
  <h2 class="mb-5 text-3xl font-semibold">Welcome back to ManyFest</h2>
  <hr class="my-4 border-gray-300 sm-hidden" />
  <p>
    Browse some of the recently added public collection items.
  </p>
</div>
{{/if}}

{{!-- Carousel --}}
<div id="carouselExampleCaptions" class="relative carousel slide md-my-auto" data-bs-ride="carousel">
  <div class="absolute bottom-0 left-0 right-0 flex justify-center p-0 mb-4 carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
  </div>
  <div class="relative w-full overflow-hidden carousel-inner">

      {{!-- Carousel item 1  --}}

    <div class="relative float-left w-full carousel-item active">
      <img
        src="{{itemData.[0].images.[0].link}}"
        class="block w-full"
        alt="..."
      />
      <div class="absolute hidden text-center carousel-caption md:block">
        <h5 class="text-xl">{{itemData.[0].name}}</h5>
        <p>{{itemData.[0].description}}</p>
        <p>from the {{itemData.[0].collection.name}} collection.</p>
      </div>
    </div>

    {{!-- Carousel item 2  --}}

    <div class="relative float-left w-full carousel-item">
      <img
        src="{{itemData.[1].images.[0].link}}"
        class="block w-full"
        alt="..."
      />
      <div class="absolute hidden text-center carousel-caption md:block">
        <h5 class="text-xl">{{itemData.[1].name}}</h5>
        <p>{{itemData.[1].description}}</p>
        <p>from the {{itemData.[1].collection.name}} collection.</p>
      </div>
    </div>

    {{!-- Carousel item 3  --}}

    <div class="relative float-left w-full carousel-item">
      <img
        src="{{itemData.[2].images.[0].link}}"
        class="block w-full"
        alt="..."
      />
      <div class="absolute hidden text-center carousel-caption md:block">
        <h5 class="text-xl">{{itemData.[2].name}}</h5>
        <p>{{itemData.[2].description}}</p>
        <p>from the {{itemData.[2].collection.name}} collection.</p>
      </div>
    </div>

    {{!-- Carousel item 4  --}}

    <div class="relative float-left w-full carousel-item">
      <img
        src="{{itemData.[3].images.[0].link}}"
        class="block w-full"
        alt="..."
      />
      <div class="absolute hidden text-center carousel-caption md:block">
        <h5 class="text-xl">{{itemData.[3].name}}</h5>
        <p>{{itemData.[3].description}}</p>
        <p>from the {{itemData.[3].collection.name}} collection.</p>
      </div>
    </div>

    {{!-- Carousel item 5  --}}

    <div class="relative float-left w-full carousel-item">
      <img
        src="{{itemData.[4].images.[0].link}}"
        class="block w-full"
        alt="..."
      />
      <div class="absolute hidden text-center carousel-caption md:block">
        <h5 class="text-xl">{{itemData.[4].name}}</h5>
        <p>{{itemData.[4].description}}</p>
        <p>from the {{itemData.[4].collection.name}} collection.</p>
      </div>
    </div>
  </div>
  <button
    class="absolute top-0 bottom-0 left-0 flex items-center justify-center p-0 text-center border-0 carousel-control-prev hover:outline-none hover:no-underline focus:outline-none focus:no-underline"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="inline-block bg-no-repeat carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="absolute top-0 bottom-0 right-0 flex items-center justify-center p-0 text-center border-0 carousel-control-next hover:outline-none hover:no-underline focus:outline-none focus:no-underline"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="inline-block bg-no-repeat carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


{{!-- A carousel idea --}}
<!-- component -->
{{!-- <div class="relative min-h-screen p-3 bg-gray-100">
    <div class="mx-auto w-96" style="scroll-snap-type: x mandatory;">
        <!-- first -->
        <div class="">
            <input
                class="sr-only peer"
                type="radio"
                name="carousel"
                id="carousel-1"
                checked
            />
            <!-- content #1 -->
            <div
                class="absolute z-0 transition-all duration-300 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg opacity-0 w-96 top-1/2 left-1/2 peer-checked:opacity-100 peer-checked:z-10"
            >
                <img
                    class="h-64 rounded-t-lg w-96"
                    src="https://images.unsplash.com/photo-1628788835388-415ee2fa9576?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=384&q=80"
                    alt=""
                />
                <div class="px-8 py-4">
                    <h1
                        class="mt-2 text-2xl font-bold tracking-tight text-gray-900 hover:cursor-pointer"
                    >Lorem ipsum dolor sit amet consectetur adipisicing.
                    </h1>
                    <p
                        class="py-3 leading-6 text-gray-600 hover:cursor-pointer"
                    >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <!-- controls -->
                <div class="absolute z-20 flex justify-between w-full top-1/2">
                    <label
                        for="carousel-3"
                        class="inline-block text-red-600 cursor-pointer -translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-10 h-10"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </label>
                    <label
                        for="carousel-2"
                        class="inline-block text-red-600 cursor-pointer translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-10 h-10"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </label>
                </div>
            </div>
        </div>
        <!-- second -->
        <div class="">
            <input
                class="sr-only peer"
                type="radio"
                name="carousel"
                id="carousel-2"
            />
            <!-- content #2 -->
            <div
                class="absolute z-0 transition-all duration-300 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg opacity-0 w-96 top-1/2 left-1/2 peer-checked:opacity-100 peer-checked:z-10"
            >
                <img
                    class="h-64 rounded-t-lg w-96"
                    src="https://images.unsplash.com/photo-1628191139360-4083564d03fd?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=384&q=80"
                    alt=""
                />
                <div class="px-8 py-4">
                    <h1
                        class="mt-2 text-2xl font-bold tracking-tight text-gray-900 hover:cursor-pointer"
                    >
                        Scelerisque eleifend donec pretium vulputate sapien.
                    </h1>
                    <p
                        class="py-3 leading-6 text-gray-600 hover:cursor-pointer"
                    >Egestas diam in arcu cursus euismod quis. Fusce id velit ut
                        tortor. Congue quisque egestas diam in arcu cursus
                        euismod quis.
                    </p>
                </div>
                <!-- controls -->
                <div class="absolute z-20 flex justify-between w-full top-1/2">
                    <label
                        for="carousel-1"
                        class="inline-block text-blue-600 cursor-pointer -translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-10 h-10"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </label>
                    <label
                        for="carousel-3"
                        class="inline-block text-blue-600 cursor-pointer translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-10 h-10"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </label>
                </div>
            </div>
        </div>
        <!-- three -->
        <div class="">
            <input
                class="sr-only peer"
                type="radio"
                name="carousel"
                id="carousel-3"
            />
            <!-- content #3 -->
            <div
                class="absolute z-0 transition-all duration-300 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg opacity-0 w-96 top-1/2 left-1/2 peer-checked:opacity-100 peer-checked:z-10"
            >
                <img
                    class="h-64 rounded-t-lg w-96"
                    src="https://images.unsplash.com/photo-1628718120482-07e03fe361dd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=384&q=80"
                    alt=""
                />
                <div class="px-8 py-4">
                    <h1
                        class="mt-2 text-2xl font-bold tracking-tight text-gray-900 hover:cursor-pointer"
                    >
                        Consectetur purus ut faucibus pulvinar elementum.
                    </h1>
                    <p
                        class="py-3 leading-6 text-gray-600 hover:cursor-pointer"
                    >Aliquam ultrices sagittis orci a scelerisque purus semper.
                        Quisque id diam vel quam elementum pulvinar. Facilisis
                        magna etiam tempor orci eu lobortis elementum.
                    </p>
                </div>
                <!-- controls -->
                <div class="absolute z-20 flex justify-between w-full top-1/2">
                    <label
                        for="carousel-2"
                        class="inline-block text-yellow-600 cursor-pointer -translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-10 h-10"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </label>
                    <label
                        for="carousel-1"
                        class="inline-block text-yellow-600 cursor-pointer translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-10 h-10"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div> --}}


